<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035286218378-m96mt13dk0ha1ujftkorhj12f14k3e1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035286218378-m96mt13dk0ha1ujftkorhj12f14k3e1f</string>
	<key>API_KEY</key>
	<string>AIzaSyC3OLTp5VPs8Kp2UmigLmsy-lCj8YRRyjk</string>
	<key>GCM_SENDER_ID</key>
	<string>1035286218378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ThuanABCXXZY.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-4e04f</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-4e04f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035286218378:ios:451fb33095bdecab6a0f73</string>
</dict>
</plist>